{% extends "@layout.html" %}
{% block content %}

<h1>{{ title }}</h1>

<div class="card-group">
    {% for seed in seeds %}
    <div class="card">
        <img class="card-img-top" src="/{{ type }}/{{ seed }}.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Seed #{{ seed }}</h5>
            <a href="/api/remove/{{ type }}/{{ seed }}" class="btn btn-warning">Remove</a>
        </div>
    </div>
    {% endfor %}
</div>

<a href="/api/add-image/{{ seed }}" class="btn btn-info">Add</a>

{% endblock content %}
